/*FONT TYPE */
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    src: url(Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    src: url(Roboto-Italic.ttf);
}
.root {
    -fx-primary-dark: #075E54;
    -fx-primary-light: #128C7E;
    -fx-color-white: #FFFFFF;
    -fx-color-black: #212936;
    -fx-color-gray:  #a7a9a9;
}

/* ============================== AUTHENTICATION (LOGIN, REGISTER) SCREEN ====================== */
/*login screen parent (Vbox)*/
.login-wrapper{
    -fx-background-color: -fx-color-white;
}
/*power button svg fill color*/
.login-power-svg{
    -fx-fill: -fx-primary-dark;
}
/*keyboard button svg fill color*/
.login-keyboard-svg{
    -fx-fill: -fx-primary-dark;
}
/*login screen welcome text*/
.login-header-text{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size:  18px;
    -fx-font-weight:  regular;
    -fx-text-fill: -fx-color-black;
}
/*login welcome sum text*/
.login-header-text-sub{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: regular;
    -fx-text-fill: -fx-color-gray;
}
/*login email main wrapper (hbox)*/
.login-email-wrapper{
    -fx-background-color: -fx-color-white;
}
/*login email control container (hbox)*/
.login-email-wrapper > .email-container{
    -fx-background-color: -fx-color-white;
    -fx-border-color:  -fx-color-gray;
    -fx-border-radius: 5px;
    -jfx-unfocus-color: none;
    -jfx-focus-color: none;
}
.login-password-wrapper > .email-container > .jfx-email{
    -jfx-unfocus-color: none;
    -jfx-focus-color: none;
}
/*login password main wrapper (hbox) */
.login-password-wrapper{
    -fx-background-color: -fx-color-white;
}
/*login password control container (hbox)*/
.login-password-wrapper > .password-container{
    -fx-background-color: -fx-color-white;
    -fx-border-color:  -fx-color-gray;
    -fx-border-radius: 5px;
}
.login-password-wrapper > .password-container > .jfx-password{
    -jfx-unfocus-color: none;
    -jfx-focus-color: none;
}
/* login forgot password text */
.login-forgot-password{
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: -fx-primary-dark;
}
/*login button -> primary action */
.login-button{
    -fx-background-color: -fx-primary-light;
    -fx-border-radius: 10px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 16px;
    -fx-text-fill: -fx-color-white;
}

/* ======================================== WELCOME SCREEN =========================================== */
/*border top wrapper (hbox)*/
.welcome-top-wrapper{
    -fx-background-color: -fx-primary-dark;
}
.welcome-top-wrapper > .welcome-user-wrapper > .welcome-notif-svg{
    -fx-fill: -fx-color-white;
}
.welcome-top-wrapper > .welcome-user-wrapper > .welcome-username-wrapper > .welcome-fullname{
    -fx-text-fill: -fx-color-white;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 13px;
}

.welcome-top-wrapper > .welcome-user-wrapper > .welcome-username-wrapper > .welcome-username{
    -fx-text-fill: -fx-color-gray;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 10px;
}
.welcome-power-svg{
    -fx-fill: -fx-color-white;
}
/*end border top*/
/*start border center*/
.welcome-content-wrapper{
    -fx-background-color:  #EAEAEA;
}
.welcome-module-button{
    -fx-background-color: -fx-color-white;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: regular;
    -fx-text-fill: -fx-color-black;
}
.welcome-module-svg{
    -fx-fill: -fx-primary-dark;
}
/*end border center*/
/*============================================ USER PROFILE=======================================*/
.user-full-name{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 13;
}
.user-username{
    -fx-text-fill: -fx-color-gray;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 10;
}

/*===========================================BREAD CRUMB========================================*/
.bread-crumbs-separator{
    -fx-fill: -fx-primary-light;
    visibility: false;
}
.bread-crumbs-link{
    -fx-font-family: 'Roboto', 'sans-serif';
    -fx-font-size: 13;
    -fx-padding: 10;
    -fx-font-weight: bold;
    visibility: false;
}
.bread-crumbs-link-black{
    -fx-text-fill:  -fx-color-black;
}
.bread-crumbs-link-gray{
    -fx-text-fill:  -fx-color-gray;
}

/*=========================================ADMIN MAIN ======================================*/
.admin-main-region-top{
    -fx-background-color: -fx-primary-dark;
}
.admin-main-hbox-wrapper-top{
    -fx-border-style:  hidden hidden solid hidden;
    -fx-border-color:  #E1E1E1;
    -fx-border-width: 3;
}
.admn-main-content-left-wrapper{
    -fx-background-color: -fx-primary-dark;

}
/*======================================= SPLIT PANE========================================*/
.split-pane > .split-pane-divider {
    -fx-padding: 0 20 0 2;
}
.split-pane:horizontal > .split-pane-divider{
    -fx-background-color: -fx-primary-light;
    -fx-border-color: -fx-primary-light;
    -fx-pref-height: 5em;
    -fx-pref-width: 3;
}
.split-default-svg{
    -fx-fill: -fx-primary-dark;
}
.split-default-text{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: normal;
}

/*=======================================GLOBAL SETTING ======================================*/
.global-setting-split-wrapper{
    -fx-background-color: transparent;
}
.global-setting-split-left-wrapper{
    -fx-background-color: -fx-color-white;
}

.global-setting-split-right-wrapper{
    -fx-background-color: #F9F9F9;
}

.global-setting-heading-text{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.global-setting-module-text{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.global-setting-module-btn{
    -fx-padding: 0px;
    -fx-background-image: none;
    -fx-border-color: none;
    -fx-border-width: none;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15px;
    -fx-text-fill: -fx-color-black;
}

.global-setting-right-header{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.global-setting-label{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 14;
}

/*====================================== DASHBOARD SCREEN ============================================*/
.dashboard-total-sales-label{
    -fx-text-fill: -fx-color-black;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 18;
}
/*=============================================DROP DOWN CONTROL =====================================*/



